{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}




{% block body %}


    <h1>User's Detail</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Permission</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.permission }}</td>
        </tr>
    </table>

    <a href="{{ path('web_user_list') }}">User's list page</a>
{% endblock %}