{# app/Resources/views/default/list.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>User's list</h1>
<div>
    <a href="{{ path('web_user_new') }}">
        Add new user
    </a>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Permission</th>
        <th></th>
    </tr>
    {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.permission }}</td>
            <td><a href="/detail-user/{{ u.id }}">Detail</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}