{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
      $(document).ready(() => {

        $("#formNewUser").submit((event) => {
          event.preventDefault();

          const data = $("input, select")
            .toArray()
            .reduce((acc, el) => {
                acc[$(el).attr("name")] = $(el).val();
                return acc;
            }, {});

          $.ajax({
            url: '/api/users/',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'html',
            data: JSON.stringify(data),
            success: (response) => {
              var user = $.parseJSON(response);
                $('.addedUsers').show();
                $('.addedUsers .user .id').html(user.id);
                $('.addedUsers .user .name').html(user.name);
                $('.addedUsers .user .email').html(user.email);
                $('.addedUsers .user .persmission').html(user.persmission);

                $('#formNewUser').trigger("reset");
            },
          })
        });

      });


    </script>

    <h1>New user</h1>

    <form name="form" method="post" id="formNewUser">
        <div>
            <div>
                <label for="form_name" class="required">Name</label>
                <input type="text" id="form_name" name="name" required="required"/>
            </div>
            <div>
                <label for="form_email" class="required">Email</label>
                <input type="email" id="form_email" name="email" required="required"/>
            </div>
            <div>
                <label for="form_password" class="required">Password</label>
                <input type="password" id="form_password" name="password" required="required"/>
            </div>
            <div>
                <label for="form_permission" class="required">Permission</label>
                <select id="form_permission" name="permission">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div>
                <button type="submit" id="form_save" name="save">Create User</button>
            </div>
        </div>
    </form>

    <a href="{{ path('web_user_list') }}">User's list page</a>

    <div class="addedUsers" style="display: none;">
        <h4>Added user:</h4>
        <div class="user">
            <div class="id"></div>
            <div class="name"></div>
            <div class="email"></div>
            <div class="permission"></div>
        </div>
    </div>


{% endblock %}